{
    "parser": "babel-eslint",
    "extends": ["airbnb"],
    "env": {
      "node": true,
      "es6": true
    },
    "rules": {
      "indent": "off",
      "comma-dangle": ["error", "always-multiline"],
      "no-console": 0,
      "react/jsx-filename-extension": 0,
      "import/prefer-default-export": 0,
      "react/prop-types": 0,
      "react/jsx-one-expression-per-line": 0,
      "react/jsx-wrap-multilines": 0,
      "no-useless-concat": 0,
      "react/jsx-indent": 0
    }
}
